@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'quicksand';

}

.screen{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-image: url(../img/morumbi_11.jpg);
    transition: 0.6s;
    display: flex;
    flex-direction: row;
}



.menu {
    width: 27vw;
    height: 100vh;
    background-color:  rgba(255, 255, 255, 0.719);;
    display: flex;
    flex-direction: column;
    color:red;
}

.logo {
    display: flex;
    justify-content: center;
}
.logo img {
    width: 15em;
    margin-bottom: -100px;
    margin-top: -60px;}


.top_menu{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    font-weight: 700;

}

.down_menu{
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}


.button_menu{
    color: white;
    font-size: 20px;
    border: 2px rgb(255, 0, 0) solid;
    border-radius: 20px;
    height: 30px;
    width: 150px;
    cursor: pointer;
    margin-left: 40px;
    transition: 0.6s;
    margin-bottom: 50px;   
    background-color: red;
}

.button_menu:hover{
    background-color: transparent;
    color: red;
}

.button_restart{
    color: white;
    font-size: 20px;
    border: 2px rgb(255, 0, 0) solid;
    border-radius: 20px;
    height: 30px;
    width: 150px;
    cursor: pointer;
    margin-left: 40px;
    background-color: red;
    float: left;
    transition: 0.6s;
    margin-bottom: 50px; 
}

.button_restart:hover{
    background-color: transparent;
    color: red;
}

.content_team{
    background-color:  rgb(0, 0, 0);
    width: 100vw;
    height: 100vh;
    color: red;
   display: none;
}

.content_simbolo{
    height: 400px;
    width: 950px;
    overflow: hidden;
    margin-top: 50px;
    margin-left: 80px;
}

.navigation{
    position: absolute;
    margin-left: 400px;
    transform: translate(-50%);
    display: flex;
    margin-top: 500px;
}

 .bar{
    width: 90px;
    height: 17px;
    cursor: pointer;
    transition: 0.6s;  
    margin: 2px;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    margin-left:50px;
    font-size: 1em;
}

.bar:hover{
    font-size: 1.5em ;
}

input{display: none;
}

.slides{
 display: flex;
 width: 600%;
 height: 95%;
}

.slide{
    width: 25%;
    transition: 0.6s; 
}

.slide img{
    height: 100%;
    width: 80%;
}

#slide1:checked ~ .s1{
     margin-left: 2%;
}

#slide2:checked ~ .s1{
    margin-left: -20%;
}

#slide3:checked ~ .s1{
    margin-left: -50%;
}

#slide4:checked ~ .s1{
    margin-left: -75%;
}

#slide5:checked ~ .s1{
    margin-left: -100%;
}

#slide6:checked ~ .s1{
    margin-left: -125%;
}


.next_games{
    background:  linear-gradient(108.67deg, rgba(0, 0, 0, 0.562) 2.17%, rgba(0, 0, 0, 0.562) 101.22%);
    width: 100vw;
    height: 100vh;
    color: red;
    display: none;
  
}

.next_play{
    height: 120px;
    margin: 10px;
    width: 800px;
    border: 2px solid red;
    border-radius: 35px;
    margin-left: 155px;
    background: rgba(0, 0, 0, 0.719);
}

.next_play:hover{
    transition: 0.5s;
    transform: scale(1.03);
}
.page_title{
    font-size: 2em;
    text-align: center;
    color: white;
}

.next_play h1{
    color: white;
    font-size: 1em;
    margin-left: 20px;
}

.next_play li{
    color: white;
    margin-left: 20px;
    list-style: none;
}

.Prohibited{
    float: right;
    margin-right: 20px;
    margin-top: -60px;
    color: white;
    font-size: 20px;
    border: 2px rgb(255, 0, 0) solid;
    border-radius: 20px;
    cursor: pointer;
    background-color: red;
    transition: 0.6s;
    width: 90px;
    height: 50px;
  
}