#holder-main-area {
/*	overflow: hidden;
	width: 1004px;
	margin: auto;
	position:relative;
	z-index:1;
*/}

#holder-main-area .main-content {
	width: 685px;
	float: left;
}

#main-highlight {
	width: 680px;
	height: 350px;
	margin-bottom: 22px;
	overflow:hidden;
	position:relative;
}

#main-highlight .title {
	background:#A01215;
	color:#fff;
	padding:10px 20px;
	position:absolute;
	margin:0;
	top:0;
	left:0;
	z-index:1;
}

#main-highlight .descr-highlight-holder {
	width:600px;
	position:absolute;
	top:33px;
	left:0;
	cursor:pointer;
}

#main-highlight .descr-highlight {
	font-family: 'Museo500';
	font-size:36px;
	letter-spacing:-1px;
	background:#fff;
	color:#b2b2b2;
	text-decoration:none;
	display:inline;
}

#main-highlight .descr-highlight span {
	padding:0 10px 0 10px;
}

#main-highlight .nav-highlight {
	position:absolute;
	top:280px;
	left:0;
}

#main-highlight .nav-highlight ul li {
	background:#000;
	float:left;
	display:inline;
	margin-right:3px;
}

#holder-main-area #main-highlight img {
	border:none;
	cursor:pointer;
}

#main-highlight .nav-highlight ul li a img,
#main-highlight .nav-highlight ul li a {
 	border: none;
 	overflow: hidden;
 	float: left;
	display:inline;
}

#main-highlight .nav-highlight a:hover img{
	margin:-5px;
}

#main-highlight .nav-highlight ul li .selected,
#main-highlight .nav-highlight ul li a:hover {
	border:5px solid #fff;
}

/*Img selected */
#main-highlight .nav-highlight .selected img{
	margin:-5px;
}


.holder-collumns {
	overflow: hidden;
	position:relative;
}

.holder-collumns article {
	overflow:hidden;
}

#holder-main-area .main-content img {
	border-bottom: 4px solid #a01215;
}

#holder-main-area .main-content .img-ad-content {
	border: none;
	margin-bottom: 22px;
}

#holder-main-area h3 {
	font-family: 'Museo500';
	font-size: 11px;
	font-weight: normal;
	color: #d3653d;
	display: block;
	margin: 0 0 8px 2px;
}

/*Default News Call*/
#holder-main-area .news-call {
	width:200px;
	float:left;
	display:inline;
	margin:0 0 11px 22px;
}
/*end*/

/*News call with vertical position */
#holder-main-area .news-call-sidebar {
	width:230px;
	float:left;
	display:inline;
	overflow:hidden;
}

#holder-main-area .news-call-sidebar .title {
	background: #A01215;
    color: #FFFFFF;
    margin: 0;
    padding: 10px 20px;
	display:-moz-inline-box;display:inline-block;#display:inline;
}

.holder-collumns article h3 {
	text-transform:uppercase;
}

#holder-main-area .news-call-sidebar img {
	margin-bottom:0;
	display:block;
}

#holder-main-area .news-call-sidebar .news-descr {
	font-size:22px;
	display:block;
	margin:20px 0;
}
/*end*/


/*News Call with Horizontal position*/
#holder-main-area .news-call-horizontal {
	float: left;
	width:422px;
	margin:0 0 20px 22px;
}

#holder-main-area .news-call-horizontal .news-descr {
	border-bottom: 1px dotted #000;
	font-size:20px;
	width:200px;
	display:inline-block;
	height:118px;
}


#holder-main-area .news-call-horizontal img {
	border:none;
	margin:0 22px 0 0;
	float:left;
}
/*end*/

#holder-main-area .middle-call {
	border-bottom: 1px dotted #000;
	padding-bottom:5px;
	height:63px;
}


#holder-main-area .news-call-horizontal h3,
#holder-main-area .news-call-sidebar h3,
#holder-main-area .news-call h3{
	margin-left:0;
}


.holder-collumns arcticle:last-child article {
	border-bottom: 1px dotted #000;
}

/*.holder-collumns section:last-child article:last-child {
	border: none;
}*/

.holder-collumns article img {
	margin-bottom: 12px;
}

.holder-collumns article a:link,
.holder-collumns article a:visited,
.holder-collumns article a:active{
	font-size: 14px;
	text-decoration: none;
	color: #333;
}

.holder-collumns article a:hover{
	text-decoration:underline;
}

.holder-collumns section article a:hover {
	text-decoration: underline;
}

.holder-collumns section article:first-child a {
	display: block;
	font-size: 20px;
	min-height: 104px;
}

#holder-changingnews h3 {
	background: #a01215;
	color: #fff;
	float: left;
	margin: -3px 0 0 -1px;
	padding: 10px 20px;
}

#holder-changingnews a {
	font-size: 22px;
	text-decoration: none;
	color: #333;
	float: left;clear: left;
	margin: 18px 0;
}

.main-content .news-pagination {	
	
	clear: both;
	width: 210px;
	margin:16px auto;
}

.main-content .news-pagination span {
	float: left;
	font-size: 12px;
	color: #666;
	margin:2px 20px 0 0;
}

.main-content .news-pagination ul {
	float: left;
}

.main-content .news-pagination ul li {
	float: left;display: inline;
}

.main-content .news-pagination ul li a {
	font-size: 12px;
	margin: 0 4px;
	display: block;
	width: 19px;
	height: 18px;
	background: url('../../img/section/home/bullets-pagination-news.gif') 0 -18px;
	text-indent: -9999px;overflow: hidden;
}

.main-content .news-pagination ul li a.active {
	background-position: 0 0;
}

#holder-calltoaction {
	/*border-top:1px solid #D7D7D7;
	padding-top:12px;*/
	margin-top:27px;
	float: left;
}

#holder-calltoaction img {
	border: none!important;
}

#holder-main-area .holder-mainsidebar {
	width: 307px;
	overflow:hidden;
/*	float: left;*/
	padding-left: 10px;
}

#holder-main-area .holder-mainsidebar .img-ad-sidebar {
	margin-bottom: 5px;
}

#holder-main-area .holder-mainsidebar h3 {
	background: #a01215;
	color: #fff;
	float: left;
	padding: 10px 20px;
	margin: 0;
}

#holder-tvspfc,
#holder-next-ranking {
	float: left;
	margin-bottom: 22px;
}

#holder-tvspfc .holder-embed {
	width: 300px;
	float: left;
	overflow: hidden;
	background: #fff;
}

#holder-next-ranking {
	width: 300px;
	border: 1px solid #d7d7d7;	
	background: #fff;
	
	border-radius: 0 4px 4px 4px ;
	-moz-border-radius: 0 4px 4px 4px ;
	-webkit-border-radius: 0 4px 4px 4px ;	
}

#games-info {
	clear:both;
}

#games-info li {
	float: left;display: inline;
	width: 149px;
	text-align: center;
}

#games-info li:first-child {
	border-top: 1px solid #d7d7d7;
	border-right: 1px solid #d7d7d7;
	border-left: 1px solid #d7d7d7;
	border-bottom: 1px solid #fff;
	margin-bottom:-1px;
	position:relative;
	z-index:2;
	
	border-radius: 4px 4px 0 0;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
}

#games-info li .next-games-title,
#games-info li a {
	display: block;
	padding: 22px 0;
	font-size: 13px;
	color: #000;
	text-decoration:none;
}

#games-info .ranking {
	border-bottom:none;
	border-right:none;
}

#games-info .ranking .left-arrow {
	background: url('../../img/common/ico-bullets.png') 0 -56px;
	padding-top:11px;
	height:0;
	width:7px;
	overflow:hidden;
	display:inline-block;
	vertical-align:-1px;
	margin-right:5px;
}

#games-info .ranking a {
	color:#a01215;
	font-size:11px;
}

#games-info .ranking a:hover {
	text-decoration:underline;
}

#next-games {
	width: 285px;
	margin: 10px auto;
}

#next-games .box-nextgame,
#last-games .box-lastgame {
	border: 1px solid #d7d7d7;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(50%,#FFFFFF), color-stop(51%,#F7F7F7), color-stop(100%,#F7F7F7));
	background: -moz-linear-gradient(top, #ffffff 0%, #FFFFFF 50%, #F7F7F7 51%, #F7F7F7 100%);
	background: linear-gradient(top, #ffffff 0%, #FFFFFF 50%, #F7F7F7 51%, #F7F7F7 100%);
	height: 150px;
}

#next-games .box-nextgame figure {
	display: inline-block;
	margin: 35px 0 20px 0;
	text-align: center;
	width: 100px;
	height: 100px;
	vertical-align:top;
}

#next-games .box-nextgame figure:first-child {
	margin-left: 15px;
}

#next-games .box-nextgame figure img {
	margin: auto;
}

#next-games .box-nextgame figure figcaption {
	font-family: 'Museo500';
	font-size: 11px;
	color: #a01215;
	text-align: center;
	margin-top: 12px;
}

#next-games .box-nextgame span {
	display: inline-block;
	width: 38px;
	height: 45px;
	font-size: 25px;
	text-align: center;
	vertical-align: 100%;
	margin-top:60px;
}

#home-rank .btn-complete-rank,
#next-games .btn-gamepage {
	font-family: 'Museo500';
	font-size: 14px;
	color: #fff;
	text-align: center;
	text-decoration: none;
	display: block;
	width: 283px;
	height: 15px;
	margin: 3px auto;
	padding: 20px 0;
	
	border: 1px solid #ececec;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#B32B20), color-stop(50%,#B32B20), color-stop(51%,#A92E2E), color-stop(100%,#A92E2E));;
	background: -moz-linear-gradient(top, #B32B20 0%, #B32B20 50%, #A92E2E 51%, #A92E2E 100%);
	background: linear-gradient(top, #B32B20 0%, #B32B20 50%, #A92E2E 51%, #A92E2E 100%);
}

#next-games .btn-gamepage:hover {
	border-color: #774949;
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#420c0c), color-stop(50%,#420c0c), color-stop(51%,#350a0a), color-stop(100%,#350a0a));
	background: -moz-linear-gradient(top, #420c0c 0%, #420c0c 50%, #350a0a 51%, #350a0a 100%);
	background: linear-gradient(top, #420c0c 0%, #420c0c 50%, #350a0a 51%, #350a0a 100%);
}

#last-games {	
	margin: 18px auto 10px auto;
	position:relative;
}

#last-games h4 {
	font-family: 'Museo500';
	font-size: 14px;
	font-weight: normal;
	color: #a01215;
	margin: 0 0 10px 6px;
}

#last-games .box-lastgame {
	padding: 11px 16px;
	margin-bottom: 12px;
	height:38px;
}

#last-games .box-lastgame figure,
#last-games .box-lastgame figcaption,
#last-games .box-lastgame span {
	display: inline-block;
	vertical-align: middle;
}

#last-games .box-lastgame figure img {
	margin-right: 12px;
	width:35px;
	height:35px;
}

#last-games .box-lastgame figcaption {
	font-family: 'Museo500';
	font-size: 20px;
	font-weight: normal;
	color: #333;
	width: 22px;
	margin-top: -25px;
}

#last-games .box-lastgame span {
	font-family: 'Museo500';
	font-size: 18px;
	font-weight: normal;
	color: #999;
	width: 22px;
}

#last-games .box-lastgame .btn-stats {
	font-family: 'Museo500';
	font-size: 10px;
	font-weight: normal;
	color: #333;
/*	float: right;*/
	text-decoration: none;
	margin: 14px 0 0 14px;
}

#last-games .box-lastgame .btn-stats:hover {
	text-decoration: underline;
}

.team-tooltip {
	width:80px;
	display:none;
	text-align:center;
	z-index:2;
	padding:5px 10px;
	font-size:12px;
	font-family: 'trebuchet ms', arial, verdana, sans-serif;
	color:#333;
	border:2px solid #e3e3e3;
	background: #f7f7f7;
	margin-top:-5px;
	
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;	
	
	-moz-box-shadow: 3px 3px 3px #c4c4c4;
	-webkit-box-shadow: 3px 3px 3px #c4c4c4;
	box-shadow: 3px 3px 3px #c4c4c4;
}

.team-tooltip span {
	width: 8px;
	height: 8px;
	display: block;
	background: url('../../img/common/ico-red-bullet.png') left top no-repeat;
	margin: -11px auto 0 auto;
}


/*Resitng styles*/
#home-rank {
	padding:20px 0 20px 0;
}
/*end*/

#home-rank ol {
	padding:30px 20px 0 20px;
}

#home-rank .rank-display  {
	margin:0 auto;
}

#home-rank .rank-display tr td {
	padding:15px 8px;
	align:center;
}

#home-rank .rank-display tr td:last-child {
	float:right;
}

#home-rank .rank-number {
	margin-right:18px;
}

#home-rank .points {
	float:right;
	margin-right:16px;
}

#home-rank .saopaulo-rank {
	background:#ebebeb;
/*	margin:0 0 23px 0;*/
	font-size:16px;
	color:#89342f;
}

#home-rank tr.saopaulo-rank td {
	padding:7px 8px;
}

#home-rank .rank-display  {
	
}	

#home-rank .saopaulo-rank .points {
	margin-right:0;
}

#holder-secondary-area {
	background: #5f0004;
	padding: 18px 0;
	overflow:hidden;
	clear:both;
}


.holder-second-content {
	width: 628px;
	float: left;
	padding: 10px 22px 0 22px;
	background: #4f0307;
}

#holder-secondary-area .list-highlights li {
	width: 280px;
	float: left;
	display: inline;
	margin: 0 12px 12px 0;
	padding: 28px 12px;
	height:69px;
	border: 1px solid #5b1418;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5a0d11), color-stop(50%,#5a0d11), color-stop(51%,#530206), color-stop(100%,#530206));
	background: -moz-linear-gradient(top, #5a0d11 0%, #5a0d11 50%, #530206 51%, #530206 100%);
	background: linear-gradient(top, #5a0d11 0%, #5a0d11 50%, #530206 51%, #530206 100%);
}

#holder-secondary-area .list-highlights .even {
	margin-right: 0;
}

#holder-secondary-area .list-highlights a {
	float: left;display: inline;
	width: 210px;
	text-decoration: none;
	color: #d3653d;
}

#holder-secondary-area .list-highlights a:hover span {
	text-decoration:underline;
}

#holder-secondary-area .list-highlights li img {
	float:right;
}

#holder-secondary-area .list-highlights li h4 {
	font-family: 'Museo500';
	font-size: 18px;
	font-weight: normal;
	color: #FFF;	
}

#holder-store {
	margin: 18px 0;
}

#holder-store h2 {
	font-family: 'Museo500';
	font-size: 18px;
	font-weight: normal;
	color: #FFF;
	float: left;
	margin-top: 7px;
}

#holder-store #btn-more-products {
	margin: 0 0 0 16px;
}

#holder-products {
	width: 100%;
	clear: both;
	float: left;
	margin-top: 22px;
}

#holder-products .scroll-products {
	width: 640px;
	height: 280px;
	overflow: auto;
}

#holder-products li {
	display:inline;
	float:left;
	width: 145px;
	height: 230px;
	width: 147px;
	background: #fff;
	margin-right: 4px;
	padding: 5px;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#holder-products li:last-child {
	margin-right: 0;
}

#holder-products li figure {
	border: 1px solid #ccc;
	height: 227px;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

#holder-products li figure a {
	text-decoration: none;
}

#holder-products li figure img {
	margin: 5px auto;
	display: block;
}

#holder-products li figure figcaption {
	font-size: 12px;
	color: #6f6f6f;
	margin: 5px;
	height: 50px;
	text-align:center;
}

#holder-products li figure strong {
	display: block;
	color: #ab2622;
	font-size: 16px;
	text-align: center;
	margin-top: 5px;
	vertical-align: bottom;
}

#holder-products li figure span {
	display: block;
	color: #888888;
	font-size: 13px;
	text-align: center;
	vertical-align: bottom;
	line-height:13px;
}

#holder-secondary-area .holder-second-sidebar {
	width: 315px;
	float: left;
	margin-left: 15px;
}

#holder-secondary-area .holder-second-sidebar .box-ad {
	background: #4f0307;
	padding: 7px;
}

#holder-twitter,
#holder-facebook {
	background: #4f0307;
	padding: 7px;
	margin-top: 15px;
}

#holder-twitter .bt-twitter,
#holder-facebook .bt-facebook {
	float: left;
	width: 44px;
	height: 44px;
	background: #42070a;
	border-top: 1px solid #561215;	
	border-left: 1px solid #561215;	
	border-right: 1px solid #360608;
	border-bottom: 1px solid #360608;
	
	text-indent: -9999px;overflow: hidden;
	background: url('../../img/common/sprite-social.png') no-repeat;
	display:block;
}

#holder-twitter .bt-twitter {
	background-position: -1px -21px;
}

#holder-facebook .bt-facebook {
	background-position: -53px -21px;
}

#holder-twitter #btn-follow {
	float: right;
	margin-top: 4px;
}

#holder-twitter .scroll-tweets {
	width: 300px;
	height: 220px;
	overflow: auto;
}

#holder-twitter .holder-tweets {	
	float: left;clear: both;
	margin: 0 0 0 22px;
	font-size: 11px;
	color: #fff;
}

#holder-twitter .holder-tweets li {
	font-size: 13px;
	color: #fff;
	margin-bottom: 20px;
	width: 95%;
}

#holder-twitter .holder-tweets li.firstTweet {
	margin-top: 0;
}

#holder-twitter .holder-tweets li.lastTweet {
	border: none;
	padding-bottom: 0;
}

#holder-twitter .holder-tweets li a {
	color: #d3653d;
	text-decoration: none;
}

#holder-twitter .holder-tweets li span {
	display: block;
	margin-top: 15px;
}

#holder-facebook {
	padding: 15px 7px;	
}

#holder-facebook h2 {
	background-position: -49px -21px;
}

#holder-facebook h3 a {
	text-decoration:none;
	float: left;
	font-size: 12px;
	margin: 12px 0 0 7px;
	display:block;
	color: #d3653d;
}

#holder-facebook h3 a:hover {
	text-decoration:underline;
}

#holder-facebook .holder-like {
	float: right;
	margin-top: 10px;
}

#holder-third-area {
	background: #000;
	padding: 18px 0;
	height: 530px;	
	overflow:hidden;
}

#holder-third-area h2 {
	font-family: 'Museo500';
	font-size: 18px;
	font-weight: normal;
	color: #FFF;
	float: left;
	margin: 7px 25px 0 0;
}

/*Reseting the Footer*/

footer {
	margin-top:0;
	border-top:none;
}

.lst-highlight li img {
	position:absolute;
	top:0;
	left:0;
}

/*Splash Screen*/
#splash-screen {
	background: url('../../img/section/home/bg-splash.png');
	z-index: 10000;
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
 	text-align:center;
 	vertical-align:middle;
}

#splash-screen .title-holder {
	background:#f9f9f9;
	position:relative;
	margin:30px auto 0 auto;
	width:790px;
	height:550px;
}

#splash-screen .close {
	position:absolute;
	top:0;
	right:0;
	background: url('../../img/common/bt-close-splash.png') no-repeat;
	overflow:hidden;
	padding-top:31px;
	width:33px;
	height:0;
}

#splash-screen .close:hover {
	background-position:0 -31px;
}

/* NEW CAROUSSEL - TEST STYLES */

#players-contentflow {
	position: relative;
	width: 1000px;
	margin: 15px auto;
	clear: left;
	height: 510px;
	background: #000;
}

#players-contentflow .holder-image,
#players-contentflow .holder-links {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

#players-contentflow .holder-image {
	z-index: 4;
}

#players-contentflow .holder-links {
	z-index: 5;
}

#players-contentflow .holder-links a {
	width: auto;
	height: 379px;
	display: block;
	float: left;
	background: url('../../img/common/bg-transparent-black.png') no-repeat;
	/*opacity: 0.0;*/
	margin: 0 1px 0 0;
	text-indent:-9999px;
	overflow:hidden;
}

#holder-slider {
	clear: both;
	width: 100%;
	position: absolute;
	bottom: 70px;
}

#holder-slider #nav-slider {
	padding-top: 40px;
	width: 100%;
	overflow: hidden;
}

#holder-slider #nav-slider li {
	float: left;display: inline;
	width: 166px;
	/*text-align: center;*/
}

#holder-slider #nav-slider li.goal a {
	padding-left:0px;
}

#holder-slider #nav-slider li.defense a {
	padding-left:37px;
}

#holder-slider #nav-slider li.sides a {
	padding-left:42px;
}

#holder-slider #nav-slider li.middle-attack a {
	padding-left:52px;
}

#holder-slider #nav-slider li.middle a {
	padding-left:57px;
}

#holder-slider #nav-slider li.attack a {
	padding-left:72px;
}


#holder-slider #nav-slider li a {
	font-size: 16px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	color: #353535;
}

#holder-slider #nav-slider li a:hover,
#holder-slider #nav-slider li a.active {
	color: #CCC;
}

.dragdealer {
	position: relative;
	height: 10px;
	background: #151515;
}

.dragdealer .handle {
	position: absolute;
	cursor: pointer;
	width: 105px;
	height: 24px;
	/*background: #9d0908;*/
	color: #FFF;
	line-height: 20px;
	text-align: center;
	margin-top: -4px;
	background: url('../../img/common/seta_elenco2.png') no-repeat;
}

.dragdealer .disabled {
	background: #898989;
}

.panel-players {
	display: none;
}