html, body {
    height: 100%;
}

body {
	font-family: 'trebuchet ms', arial, verdana, sans-serif;
	font-size: 12px;
	color: #333;
}

#main-wrapper {
/*	margin: auto 0;*/
	height: auto !important;
    min-height: 100%;
	padding-top:18px;
}

header,
#main-navigation,
footer .content-holder {
	width: 1004px;
	margin: auto;
}

#main-wrapper h1 {
	float: left;
}

#main-wrapper h1 a {
	width: 246px;
	height: 51px;
	background: url('/img/common/img-logo-spfc.gif') 0 0 no-repeat;
	margin: 10px 0 0 0;
}

.img-ad-header {
	float: right;
}

.holder-base-inputs {
	width: 300px;
	height: 38px;
	background: #f8f8f8;
	border: 1px solid #d4d4d4;
	margin-left: 6px;
	float: right;
	display:inline;
	clear: right;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
}

.holder-base-inputs input[type=text] {
	width: 237px;
	padding: 2px;
	font-size: 14px;
	color: #ccc;
	margin: 6px;
	border: none;
	background: none;
	vertical-align: bottom;
	height: 22px;
}	

.holder-base-inputs input[type=submit] {
	font-size: 14px;
	color: #ccc;
	text-align: center;
	width: 40px;
	height: 32px;
	border: 1px solid #e5e5e5;
	vertical-align: top;
	margin-top: 3px;
	
	background: -webkit-gradient(linear, 0 0, 0 bottom, from(#FFFFFF), to(#f6f6f6));
	background: -moz-linear-gradient(#FFFFFF, #f6f6f6);
	background: linear-gradient(#FFFFFF, #f6f6f6);
}

#holder-main-area {
	margin: auto;
    width: 1004px;
	min-height:300px;
  	position: relative;
    z-index: 1;
	overflow:hidden;
}

.holder-socialmedia {
	width: 178px;
	height: 17px;
	float: right;
	margin-bottom: 10px;
}

.holder-socialmedia li {
	float: left;display: inline;
	margin: 0 10px;
}

.holder-socialmedia li:first-child {
	margin-left: 0;
}

.holder-socialmedia li:last-child {
	margin-right: 0;
}

.holder-socialmedia a {
	display: block;
	height: 17px;
	background: url('../../img/common/sprite-social.png') 0 0 no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}

.holder-socialmedia .ico-email {
	width: 13px;
	background-position: -3px 0;
}

.holder-socialmedia .ico-rss {
	width: 15px;
	background-position: -36px 0;
}

.holder-socialmedia .ico-twitter {
	width: 12px;
	background-position: -69px 0;
}

.holder-socialmedia .ico-facebook {
	width: 6px;
	background-position: -104px 0;
}

.holder-socialmedia .ico-youtube {
	width: 40px;
	background-position: -131px 0;
}

#main-navigation {
	clear: both;
	border-bottom: 1px solid #dadada;
	margin: 30px auto 20px;
	padding-bottom:36px;
	position:relative;
	z-index:2;
	height:1px;
}

#main-navigation li {
	float: left;display: inline;
	padding: 4px 0 40px 0;
	position:relative;
	z-index:2;
}

#main-navigation li:last-child a {
	border-right: 0;
	padding-right:0;
}

#main-navigation li > a {
	font-family: 'Museo500';
	font-size: 14px;
	text-decoration: none;
	color: #333;
	border-right: 1px solid #e9e9e9;
	display:block;
	padding: 0 16px;
}

#main-navigation li > a:hover {
	color:#8c8c8c;
}

.wrapper-content {
	width: 1004px;
	margin: auto;
	overflow: hidden;
}

/* footer */
footer {
	padding: 30px 0 40px 0;
	overflow:hidden;
	border-top:2px solid #ae565b;
	margin-top:93px;
}

footer h3 {
	font-size: 13px;
	color: #6a6a6a;
	margin-bottom: 8px;
}

footer section {
	float: left;
	margin: 0 1px;
	font-size: 12px;
	color: #b2b2b2;
}

#holder-newsletter {
	margin-right: 50px;
	width:302px;
}

#holder-newsletter #newsletter {
	margin: 5px 0 0 0;
}

#holder-newsletter .feedback-sucess{
	background:#f9efe2;
	font-size:14px;
	padding:32px 12px 32px 10px;
	color:#666;
}

#holder-newsletter .feedback-sucess span{
	background:url('../../img/common/ico-bullets.png') 0 -96px no-repeat #f9efe2;
	width:16px;
	height:0;
	overflow:hidden;
	padding-top:8px;
	margin:0 9px 0 0;
	font-weight:bold;
	display:inline-block;
}

#holder-sponsors {
	width: 540px;
	float:none;
	margin:0 0 0 auto;
	overflow:hidden;
}

#holder-sponsors h3 {
    padding-right: 232px;
    text-align: right;
}

#holder-sponsors ul {
	float: right;
	margin-top: 15px;
}
#holder-sponsors li {
	float: left;display: inline;
	margin-right: 30px;
}

#holder-sponsors li:last-child {
	margin-right: 0;
}

footer .txt-copyright {
	float: left;clear: left;
	color: #b2b2b2;
	margin: 50px 0;	
}

footer .txt-copyright a {
	color: #b2b2b2;
	text-decoration: none;
}

footer .txt-copyright a:hover {
	text-decoration: underline;
}

footer .holder-socialmedia {
	width: 200px;
	margin-top: 50px;
}

footer .holder-socialmedia ul {
	overflow: hidden;
	width: 200px;
}

footer .holder-socialmedia li {
	border: 1px solid #ececec;
	margin-right: 2px;
	padding: 5px;
}

/* buttons */
.button-default-red:link,
.button-default-black:link,

.button-default-red:visited,
.button-default-black:visited,

.button-default-red:hover,
.button-default-black:hover,

.button-default-red:active,
.button-default-black:active {
	float: left;
	font-size: 11px;
	color: #FFF;
	text-decoration: none;
	padding: 10px 24px 10px 29px;
	
	border: 1px solid #000;	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.button-default-red:hover,
.button-default-black:hover {
	color: #FFF;
	text-decoration: none;
}

.button-default-red {	
	border-color: #7b1c1c!important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#721a1a), color-stop(50%,#721a1a), color-stop(51%,#601515), color-stop(100%,#601515));
	background: -moz-linear-gradient(top, #721a1a 0%, #721a1a 50%, #601515 51%, #601515 100%);
	background: linear-gradient(top, #721a1a 0%, #721a1a 50%, #601515 51%, #601515 100%);
}

.button-default-red:hover {	
	border-color: #774949;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#420c0c), color-stop(50%,#420c0c), color-stop(51%,#350a0a), color-stop(100%,#350a0a));
	background: -moz-linear-gradient(top, #420c0c 0%, #420c0c 50%, #350a0a 51%, #350a0a 100%);
	background: linear-gradient(top, #420c0c 0%, #420c0c 50%, #350a0a 51%, #350a0a 100%);
}

.button-default-black {	
	border-color: #1f1f1f!important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#262626), color-stop(50%,#262626), color-stop(51%,#111111), color-stop(100%,#111111));
	background: -moz-linear-gradient(top, #262626 0%, #262626 50%, #111111 51%, #111111 100%);
	background: linear-gradient(top, #262626 0%, #262626 50%, #111111 51%, #111111 100%);
}

.button-default-black:hover {
	border-color: #1f1f1f;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#111111), color-stop(50%,#111111), color-stop(51%,#262626), color-stop(100%,#262626));
	background: -moz-linear-gradient(top, #111111 0%, #111111 50%, #262626 51%, #262626 100%);
	background: linear-gradient(top, #111111 0%, #111111 50%, #262626 51%, #262626 100%);
}

.button-default-white {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(45%,#f6f6f6), color-stop(55%,#ededed), color-stop(100%,#f1f1f1));
	background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 45%, #ededed 55%, #f1f1f1 100%);
	background: linear-gradient(top, #ffffff 0%, #f6f6f6 45%, #ededed 55%, #f1f1f1 100%);
	border: 1px solid #e5e5e5;
	color: #611515 !important;
	display: inline-block;
	font-weight: bold;
	padding: 11px 22px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;	
}

.button-default-white:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(45%,#e9e9e9), color-stop(55%,#d3d3d3), color-stop(100%,#dcdcdc));
	background: -moz-linear-gradient(top, #ffffff 0%, #e9e9e9 45%, #d3d3d3 55%, #dcdcdc 100%);
	background: linear-gradient(top, #ffffff 0%, #e9e9e9 45%, #d3d3d3 55%, #dcdcdc 100%);
	border-color: #c1c1c1;
	text-decoration: none;
}

.form-button {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b42c20), color-stop(45%,#af261f), color-stop(55%,#a61815), color-stop(100%,#8b1716));
	background: -moz-linear-gradient(top, #b42c20 0%, #af261f 45%, #a61815 55%, #8b1716 100%);
	background: linear-gradient(top, #b42c20 0%, #af261f 45%, #a61815 55%, #8b1716 100%);
	border: 1px solid;
	border-color: #9c5552 #c79a99;
	color: #f8f8f8 !important;
	display: block;
	font: 15px Museo700;
	padding: 15px 0;
	text-align: center;
	text-decoration: none !important;
	text-shadow: -1px -1px 2px #6d1914;
	text-transform: uppercase;
	width: 220px;
	
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

.form-button.home-imprensa {
	width: 167px;
	padding: 11px 0;
}

.form-button.cadastrar {
	width: 227px;
	padding: 16px 0;
}

.form-button:hover {
	border-color: #774949;
	
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#420c0c), color-stop(50%,#420c0c), color-stop(51%,#350a0a), color-stop(100%,#350a0a));
	background: -moz-linear-gradient(top, #420c0c 0%, #420c0c 50%, #350a0a 51%, #350a0a 100%);
	background: linear-gradient(top, #420c0c 0%, #420c0c 50%, #350a0a 51%, #350a0a 100%);
}

/* Submenu*/

.submenu-float-container {
	float:left;
	display:inline;
	overflow:hidden;
}

.submenu-top {
	background:#e9e9e9;
}


.submenu-top,
.submenu-top span{
	height:4px;
}

.submenu-top span {
	background:#a01215;
	display:block;
}

.submenu {
	background:#f8f8f8;
	border-right:2px solid #666666;
	border-left:2px solid #666666;
	border-bottom:2px solid #666666;
	position:absolute;
	z-index:3;
	top:37px;
	overflow:hidden;
	padding-bottom: 10px;
	
	
/*	Css Shadows*/
	-moz-box-shadow: 3px 3px 3px #666666;
	-webkit-box-shadow: 3px 3px 3px #666666;
	box-shadow: 3px 3px 3px #666666;
}


/*Setting the submenus for each area*/

/*menus that start on the LEFT*/
#estrutura,
#historia-titulos {
	left:0;
}

#o-clube {
	width:260px;
}
/*end*/

/*menus that start on the RIGHT*/

#mais-submenu {
	right:-18px;
}
/*end*/
#estrutura{
	width:495px;
}

#spfcpeia,
#mais-submenu,
#equipe {
	width:535px;
}

#noticias {
	width:150px;
}

#socio-torcedor {
	width:180px;
}

#bilheteria {
	width:250px;
}

#multimidia {
	width:230px;
}

#mais-submenu .submenu-float-container,
#equipe .submenu-float-container,
#estrutura .submenu-float-container,
#spfcpeia .submenu-float-container {
	border-right:3px solid #D9D9D9;
}

#spfcpeia .submenu-float-container,
#mais-submenu .submenu-float-container {
	width: 280px;
}

#estrutura .submenu-float-container,
#equipe .submenu-float-container {
	width: 244px;
}

#mais-submenu .submenu-float-container,
#equipe .submenu-float-container {
	margin-right:5px;
}

#mais-submenu .submenu-top span {
	margin: 0 0 0 auto;
}

.submenu .subtitle {
	color:#9f1214;
	font-weight:normal;
	font-size:14px;
	font-family: 'Museo500';
	margin-top:21px;
	position:relative;
	padding:0 0 0 41px;
	overflow:hidden;
}

#main-navigation .submenu .submenu-nav {
	margin-top:9px;
	overflow:hidden;
/*	padding:0 20px 0 0;
	width:280px;*/
}

#main-navigation .submenu ul {
	overflow: hidden;
}

/*Reseting style from parents */
#main-navigation .submenu li,
#main-navigation .submenu .submenu-nav-highlights li,
#main-navigation .submenu .submenu-nav li{
	padding:0;
	display:block;
	float:none;
	border-right:none;
}

#main-navigation .submenu .submenu-nav li a {
	font-size:12px;
	padding:8px 0 8px 30px;
	display:block;
	border-right:none;
}

#main-navigation .submenu .submenu-nav .bullet {
	background: url('../../img/common/ico-bullets.png') 0 -22px no-repeat;
	display:inline-block;
	color:#999999;
	overflow:hidden;
	padding:4px 0 0 13px;
	width:4px;
	height:0;
	
/*	Fixing Ie7 Bug ! */
	#vertical-align:5px;
}

#main-navigation .submenu .submenu-nav li a:hover .bullet {
	background-position:0 -26px;
}

#main-navigation .submenu .highlights-no-children:hover,
#main-navigation .submenu .submenu-nav-highlights li a:hover,
#main-navigation .submenu .submenu-nav li a:hover {
	background:#fff;
	border-top:1px solid #f0f0f0;
	border-left:1px solid #f0f0f0;
}

/*Fixing the position */
#main-navigation .submenu .submenu-nav li a:hover {
	padding:7px 0 8px 29px;
}

/*Second Submenu*/

#main-navigation .submenu .highlights-no-children,
#main-navigation .submenu .submenu-nav-highlights {
	margin-top:3px;
	padding:0 0 0 7px;
	overflow:hidden;
}

#main-navigation .submenu .submenu-highlightsl-list-holder {
	margin-top:3px;
}

#main-navigation .submenu .highlights-no-children,
#main-navigation .submenu .submenu-nav-highlights li a {
	position:relative;
	display:block;
	padding:14px 0 9px 30px;
	color:#9F1214;
	border-right:none;
	font-size:14px;
	min-width: 130px;
}

#main-navigation .submenu .submenu-nav-highlights li a {
	padding:14px 0 9px 37px;
}

#main-navigation .submenu .subtitle .right-arrow,
#main-navigation .submenu .highlights-no-children .right-arrow,
#main-navigation .submenu .submenu-nav-highlights .right-arrow {
	background: url('../../img/common/ico-bullets.png') 0 0 no-repeat;
	width:7px;
	padding-top:11px;
	height:0;
	overflow:hidden;
	display:block;
	position:absolute;
	top:18px;
	left:13px;
}

#main-navigation .submenu .submenu-nav-highlights .right-arrow,
#main-navigation .submenu .highlights-no-children .right-arrow {
	left:17px;
}


#main-navigation .submenu .highlights-no-children:hover .right-arrow,
#main-navigation .submenu .submenu-nav-highlights a:hover .right-arrow {
	top:17px;
	left:16px;
	background-position:0 -11px;
}

#main-navigation .submenu .subtitle .right-arrow {
	background-position:0 -30px;
	width:11px;
	padding-top:7px;
	margin-left:5px;
	top:7px;
	left:13px;
}


#main-navigation .submenu .highlights-no-children:hover,
#main-navigation .submenu .submenu-nav-highlights li a:hover
#main-navigation .submenu .highlights-no-children:hover {
	padding:13px 0 9px 37px;
}

/*Link with no children */
#main-navigation .submenu .highlights-no-children {
	text-decoration:none;
	padding-left:38px;
}

.side-banner-holder {
	overflow:hidden;
	display:inline;
	background:#f4f2f2;
	float:right;
	margin-right:-165px;
	margin-top:306px;
	width:160px;
	height:600px;
}

.tooltip {
	width: 157px;
	height: 30px;
	background: #FFF;
	font-size: 14px;
	font-weight: bold;
	color: #656565;
	text-align: center;
	padding-top: 13px;
	vertical-align: middle;
	z-index: 10;
}

@media screen and (max-device-width: 768px) {
	#holder-main-area,
	#holder-secondary-area,
	#holder-third-area,
	footer {	
		float: left;
	}
}

	
#fancybox-content {
   border: 0 !important;
}

#fancybox-close {
   background: url("../../img/common/btn-close-modal.gif") no-repeat;
   width: 20px; height: 20px;
   right: 8px; top: 6px;
}

